# Etherscan API keys
ETHERSCAN_KEY=
SNOWTRACE_KEY=

# Per-network RPCs
MAINNET_QUICKNODE_LINK=
UNICHAIN_QUICKNODE_LINK=
LINEA_QUICKNODE_LINK=
SEPOLIA_QUICKNODE_LINK =
RONIN_QUICKNODE_LINK =
POLYGON_QUICKNODE_LINK =
OPTIMISM_QUICKNODE_LINK =
MANTLE_QUICKNODE_LINK =
BASE_QUICKNODE_LINK =
BASE_QUICKNODE_LINK =
ARBITRUM_QUICKNODE_LINK =
SCROLL_QUICKNODE_LINK =

# 1Inch v6 API key for Dex Adapter tests
ONEINCH_API_KEY=
